
@font-face {
    font-family: 'moonhouse';
    src: local('moonhouse'), 
      url('moonhouse.woff2') format('woff2'),
      local('moonhouse'),
        url('moonhouse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  h1{
    font-family: 'moonhouse';
    font-weight: 500;
    color: #ffa500;
  }

